body{
    background-image: radial-gradient(circle, rgba(148,60,218,1) 0%, rgba(45,47,205,1) 100%);;
}
p, h1{
    text-shadow: 2px 2px rgb(62, 30, 151);
    color: #FB2576;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 65px;
    
}
h1{
    margin-bottom: 5px;
}

.warm-tones > button{
    padding: 15px 20px;
    border-radius: 25%;
}
.cold-tones > button{
    padding: 15px 20px;
    border-radius: 25%;
}

.other > button{
    padding: 15px 20px;
    border-radius: 25%;
}
.resolution > button{
    padding: 10px 15px;
    border-radius: 25%;
    background-color: #ca8aff;
    color: rgba(45,47,205,1) ;
}
.additional-options > button{
    padding: 10px 15px;
    border-radius: 25%;
    background-color: #ca8aff;
    color: rgba(45,47,205,1) ;
}

.panel, .pen-color, .additional-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.additional-options > button{
    width: 50%;
    table-layout: fixed;
}

.minSquare{
    height: 48px;
    width: 48px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.midSquare{
    height: 35.5px;
    width: 35.5px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.largeSquare{
    height: 16.75px;
    width: 16.75px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.grid { 
    display: flex;
    justify-content: center;
    margin-top: 80px;
    border-color: rgb(184, 72, 184);
    box-shadow: 0 0 2rem rgb(184, 72, 184);

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.yellow{
    background-color: yellow;
}
.orange{
    background-color: #fca343;
}
.red{
    background-color: #ff0534;
}
.blue{
    background-color: #01c4e7;
}
.green{
    background-color: #2ef8a0;
}
.purple{
    background-color:  #f82d97;
}
.pink{
    background-color: #f82d97;
}
.brown{
    background-color: #704a50;
}
.black{
    background-color: rgb(92, 86, 86);
}

.eraser{
    background-color: white;
}

.party{
    animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
    0% {
      background-color:  #01c4e7;
    }
    20% {
      background-color: yellow;
    }
    40% {
      background-color: #f82d97;
    }
    60% {
      background-color:  #f82d97;
    }
    80% {
      background-color: #2ef8a0;
    }
    100% {
      background-color: #01c4e7;
    }
  }