.grid > {
    width: 600px;
    height: 600px;
    font-display: flex;
    justify-content: center;
}
.minSquare{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.midSquare{
    height: 37.5px;
    width: 37.5px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.largeSquare{
    height: 18.75px;
    width: 18.75px;
    border: 1px solid black;
    background-color: white;
    border-collapse: collapse;
}

.grid { 
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.active{
    background-color: black;
}

.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.grey{
    background-color: grey;
}
.brown{
    background-color: brown;
}
.black{
    background-color: black;
}
